.articles-propositions {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100%;
    border: 2px solid black;
    background-color: rgb(190, 190, 190);
    border-radius: 25px;
    transition: border-color 0.3s;
    cursor: pointer;
    position: relative; /* Ajouté pour la gestion des icônes positionnées absolument */
    .container-i-proposition{
        display: flex;
        position: absolute;
        justify-content: center;
        margin-top: 1.1vw;
        width: 25vw;
        height: 1.5vw;
        i {
            text-align: end;
            width: 80%;
            font-size: 1.5vw;
        }
    }

    .fa-eye-slash {
        display: block; /* Icône visible par défaut */
    }

    .fa-eye {
        display: none; /* Icône cachée par défaut */
    }

    &:hover {
        border-color: orange;
        background-color: rgb(0, 134, 134);

        .fa-eye-slash {
            display: none; /* Icône cachée au survol */
        }

        .fa-eye {
            display: block; /* Icône visible au survol */
        }

        @keyframes typing {
            0% {
                color: transparent; /* Début de l'animation, le texte est transparent */
            }
            50% {
                color: white; /* Au milieu de l'animation, le texte devient blanc */
            }
            100% {
                color: white; /* Fin de l'animation, le texte reste blanc */
            }
        }

        @keyframes drift {
            from {
                width: 0; /* Au début de l'animation, la largeur est 0 */
            }
            to {
                width: 100%; /* À la fin de l'animation, la largeur est 100% */
            }
        }

        h5, h6 {
            color: white;
            /* Utilisation de l'animation pour simuler l'effet de frappe au clavier */
            animation: typing 1s steps(40, end);
        }

        h5 {
            overflow: hidden; /* Pour cacher les lettres qui ne sont pas encore tapées */
            white-space: nowrap; /* Pour que le texte ne se retourne pas à la ligne */
            animation: drift 0.3s steps(40, end);
        }
    }

    h5 {
        display: flex;
        justify-content: center;
        font-size: 2vw;
        margin: 10px 0 10px 0;
        border-radius: 25px 25px 0px 0px;
        overflow: hidden;
        position: relative;
        color: transparent;
        background: linear-gradient(to right, blue, orange);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-stroke: 2px white;
        @media screen and (max-width: 1163px) {
            margin: 6px 0 6px 0;
            -webkit-text-stroke: 0.5px white;
        }
    }

    h6 {
        text-align: center;
        margin: 0px 15px 0px 15px;
        font-size: 0.65vw;
        overflow: hidden;
        position: relative;
        color: transparent;
        background: linear-gradient(to right, blue, orange);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-stroke: 0.1px white;
        font-weight: 900;
        font-family: Arial, sans-serif;
        @media screen and (max-width: 1163px) {
            margin: 0 3px 0 3px;
            font-weight: 100;
            -webkit-text-stroke: 0px;
        }
    }
}