#container-technologie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 45vw;
    box-shadow: inset 0px 10px 15px rgba(0, 0, 0, 1);
    background-image: url("../images/background-white.webp");
    background-repeat: repeat;
    background-size: 5%;
    #container-h4_h5-computer {
        width: 45vw;
        height: 100%;
        display: flex;
        align-items: center;
        #container-texte-computer {
            display: flex;
            flex-direction: column;
            height: 30vw;
            h2 {
                text-align: center;
                font-size: 3vw;
                margin: 0 0 30px 0;
                transform: translateY(-20px); // Position initiale au-dessus de 20px
                opacity: 0; // Opacité initiale à 0
                transition: transform 1s ease, opacity 1s ease; // Transition pour le changement de transformation et d'opacité
                overflow: hidden; // Masquage du dégradé
                position: relative; // Positionnement relatif pour le contenu absolu
                color: transparent; // Couleur du texte transparente
                background: linear-gradient(to right, rgb(2, 192, 255), rgb(255, 145, 0)); // Dégradé de couleur de droite à gauche pour le texte
                -webkit-background-clip: text; // Appliquer le dégradé de couleur sur le texte
                background-clip: text; // Appliquer le dégradé de couleur sur le texte
            }
            h3 {
                margin: 0;
                font-size: 1vw;
                opacity: 0; // Initial opacity set to 0
                transition: opacity 3s ease; // Transition for opacity change
            }
        }
    }

    #container-image-computer {
        width: 48vw;
        height: 100%;
        display: flex;
        align-items: center;
        #container-picture_computer{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-image: url("../images/computer-development.webp");
            background-size: 48vw 30vw;
            width: 48vw;
            height: 30vw;
            border-right: 5px solid burlywood;
            #border-computer_1{
                display: flex;
                width: 48vw;
                justify-content: space-between;
            }
            #border-computer_2{
                display: flex;
                width: 48vw;
                justify-content: space-between;
                transform: rotateX(-180deg);
            }
            .picture-border-computer_1{
                width: 7vw;
                height: 5vw;
                transform: rotate(-180deg);
            }
            .picture-border-computer_2{
                width: 7vw;
                height: 5vw;
                transform: rotateX(-180deg);
            }
        }
        }

    &.visible {
        #container-h4_h5-computer {
            #container-texte-computer {
                h2 {
                    transform: translateY(0); // Move text back to its original position
                    opacity: 1; // Changing opacity to 1 when visible class is added
                }
                h3 {
                    opacity: 1; // Changing opacity to 1 when visible class is added
                }
            }
        }
    }
}
@media screen and (max-width: 1157px) {
    #container-technologie {
        display: flex;
        padding: 30px 0px 30px 0;
        flex-wrap: nowrap;
        gap: 2vw;
        height: 50vw;
        #container-picture_computer{
            align-items: center;
        }
        #container-h4_h5-computer{
            width: 70vw;
            #container-texte-computer{
                display: flex;
                height: 100%;
                gap: 0.5vw;
                text-align: center;
                justify-content: center;
                h2{
                    font-size: 5vw;
                    margin: 0 ;
                }
            }
        }
    }
}
@media screen and (max-width: 1023px) {
    #container-technologie {
        #container-h4_h5-computer{
            #container-texte-computer{
                h2{
                    font-size: 4vw;
                }
                h3{
                    font-size: 0.5vw;
                }
            }
        }
    }
}
@media screen and (max-width: 840px) {
    #container-technologie {
        height: 60vw;
    }
}
@media screen and (max-width: 768px) {
    #container-technologie {
        flex-direction: column;
        height: 80vw;
        #container-h4_h5-computer{
            #container-texte-computer{
                h2{
                    font-size: 6vw;
                }
                h3{
                    font-size: 1vw;
                }
            }
        }
    }
}