#sec-footer-propos{
    display: flex;
    gap: 10vw;
    height: 7vw;
    background-color: black;
    padding: 10px 25px 0px 25px;
    justify-content: center;
    div{
        display: flex;
        flex-direction: column;
        width: 20vw;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        p{
            margin: 0;
            color: white;
            font-weight: 500;
            font-size: 1vw;
            cursor: pointer;
            text-align: center;
        }
    }
}